<?xml version='1.0' encoding='utf-8'?>
<widget id="org.ynu.question" version="1.0.0" 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>问题协作</name>
    <description>
        一个问题协作APP
    </description>
    <author email="535516201@qq.com、1656362440@qq.com、975200058@qq.com、2650189913@qq.com" href="#">
        第五小组：朱永祥、徐文黎、刘宇、代林庆
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <!-- 图标 -->
    <icon src="www/img/app.png" platform="android" width="64" height="64" density="mdpi" />
</widget>
